@import "tailwindcss";

@layer base {
  html {
    font-family: sans-serif;
  }

  body {
    background-color: rgb(241, 245, 241);
    overflow-x: hidden;
  }
}

@layer components {
  .input-box {
    @apply w-full px-4 py-2 border border-gray-300 rounded-md focus:outline-none;
  }

  .btn-primary {
    @apply w-full bg-red-900 text-white py-2 rounded-md hover:bg-red-700 transition duration-200
  }
}

@keyframes scroll {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(-50%);
  }
}

.animate-scroll {
  animation: scroll 20s linear infinite;
}